<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assert/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./assert/css/background.css">
   <link rel="stylesheet"
       href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

</head>

<body>
    <!-- start nav-bar -->
     <!-- Image and text -->
     <nav class="navbar navbar-light container">
         <a class="navbar-brand" href="#">
             <img src="https://echs.sourceinfosys.com/resources/res_internal/img/echslogo.png"
                 width="70" height="70"
                 class="d-inline-block align-top" alt="">
<span class="nav-heading"> ECHS POLYCLINIC DEHRADUN
</span>
                </a>
     </nav>
    <!-- end nav-bar -->
<section class="bg">
        <div class='ripple-background '>
            <div class='circle xxlarge shade1 '></div>
            <div class='circle xlarge shade2 '></div>
            <div class='circle large shade3 '></div>
            <div class='circle mediun shade4 '></div>
            <div class='circle small shade5 '></div>
        </div>
</section>
    <section>
        <div class="container">

           <div class="row mt-6">
             <div class="col-md-6">
                 <h1 class="display-3">
                    <!-- Comprehensive -->
                     From <strong>Service to Care:</strong> Ensure  Healthcare.
                 </h1>
                 <p class="pb-3 pe-4">
                     For Ex-Servicemen Pensioners
                     and Their Families Through a Nationwide Network of ECHS Polyclinics, Armed Forces Medical
                     Facilities, and Empaneled Private/Government Hospitals.
                 </p>
                 <div>
                     <button class="btn btn-danger p-2 me-3 ">
                         <i class="bi bi-person pe-1"></i>
                        <strong>IPD</strong></button>
                     <button class="btn btn-secondary p-2">
                         <i class="bi bi-person pe-1"></i>
                        <strong>OPD</strong></button>
                 </div>
             </div>

               <div class="col-md-6">
                   <img class="img-fluid img" 
                       src="./assert/image/nurse.png" alt="">
               </div>
           </div>
            <!-- <div class="row mt-5">
                <div class="col-md-6">
                    <h1>sljhfkdgh</h1>
                </div>
                <div class="col-md-6">
                    <h1>fkf</h1>
                </div>
            </div> -->
        </div>
    </section>

<footer>
    <div class="bg-white text-center text-muted">
        <span>All Right Reserved @2024 Developed and Maintained by <a href="https://techxquad.in/">Techxquad</a></span>
    </div>
</footer>
</body>

</html>