<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./assert/css/background.css">
    <link rel="stylesheet" href="./assert/css/form.css">

</head>

<body class="bg-blue">
    <br><br><br><br>
    <section class="bg">
        <div class='ripple-background '>
            <div class='circle xxlarge shade1 '></div>
            <div class='circle xlarge shade2 '></div>
            <div class='circle large shade3 '></div>
            <div class='circle mediun shade4 '></div>
            <div class='circle small shade5 '></div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="box bg-white p-4">
                    <br><br>
                    <!-- Progress Bar -->
                    <div class="progress-container">
                        <div class="progress-bar" id="progressBar">5%</div>
                    </div>
                     <p class="text-muted">Mandatory fields are indicated with an asterisk <pow class="text-danger">*
                         </pow>.</p>

                    <form id="multiStepForm">
                        <!-- Question 1 -->
                        <div class="step active">
                            <h2>1. Waiting time at registration counter.<pow class="text-danger">*</pow>
                            </h2>
                            <div class="form-group">
                                <label for="q1">Select Time:</label>
                                <select class="form-control" name="q1" id="q1">
                                    <option value="upto_15">Upto 15 mins</option>
                                    <option value="15_30">15 - 30 mins</option>
                                    <option value="30_60">30 - 60 mins</option>
                                    <option value="above_1hr">Above 01 hr</option>
                                </select>
                            </div>
                        </div>

                        <!-- Question 2 -->
                        <div class="step">
                            <h2>2. Time taken for doctor’s consultation post registration.<pow class="text-danger">*
                                </pow>
                            </h2>
                            <div class="form-group">
                                <label for="q2">Select Time:</label>
                                <select class="form-control" name="q2" id="q2">
                                    <option value="upto_30">Upto 30 mins</option>
                                    <option value="30_60">30 - 60 mins</option>
                                    <option value="1_2hrs">01 - 02 hrs</option>
                                    <option value="above_2hrs">Above 02 hrs</option>
                                </select>
                            </div>
                        </div>

                        <!-- Question 3 -->
                        <div class="step">
                            <h2>3. Time taken to obtain medicines from pharmacy post doctor’s consultation.<pow
                                    class="text-danger">*</pow>
                            </h2>
                            <div class="form-group">
                                <label for="q3">Select Time:</label>
                                <select class="form-control" name="q3" id="q3">
                                    <option value="upto_15">Upto 15 mins</option>
                                    <option value="15_30">15 - 30 mins</option>
                                    <option value="30_60">30 - 60 mins</option>
                                    <option value="1_2hrs">01 - 02 hrs</option>
                                    <option value="above_2hrs">Above 02 hrs</option>
                                </select>
                            </div>
                        </div>
                        <!-- Question 4 -->
                        <div class="step">
                            <h2>4. Availability of medicines in the dispensary.<pow class="text-danger">*</pow>
                            </h2>
                            <div class="form-group">
                                <label for="q4">Select Availability:</label>
                                <select class="form-control" name="q4" id="q4">
                                    <option value="90_100">90% - 100% (Excellent)</option>
                                    <option value="80_90">80% - 90% (Very Good)</option>
                                    <option value="70_80">70% - 80% (Good)</option>
                                    <option value="60_70">60% - 70% (Satisfactory)</option>
                                    <option value="below_60">Below 60% (Poor)</option>
                                </select>
                            </div>
                        </div>
                        <!-- Question 5 -->
                        <div class="step">
                            <h2>5. Time taken to provide medicines not available in the dispensary.<pow
                                    class="text-danger">*</pow>
                            </h2>
                            <div class="form-group">
                                <label for="q5">Select Time:</label>
                                <select class="form-control" name="q5" id="q5">
                                    <option value="within_24hrs">Within 24 hrs</option>
                                    <option value="24_48hrs">24 - 48 hrs</option>
                                    <option value="48_72hrs">48 - 72 hrs</option>
                                    <option value="above_72hrs">Above 72 hrs</option>
                                </select>
                            </div>
                        </div>

                        <!-- Question 6 -->
                        <div class="step">
                            <h2>6. If all the medicines are not available in the dispensary, awareness about provision
                                of medicines through
                                Authorised Local Chemist (ALC) and convenience in receiving same.<pow
                                    class="text-danger">*</pow>
                                </h2>
                            <label for="rating_q11">Rate your experience:</label>
                            <div class="rating">
                                <input type="radio" required id="star1_q6" name="q6" value="1">
                                <label for="star1_q6">&#9733;</label>
                                <input type="radio" required id="star2_q6" name="q6" value="2">
                                <label for="star2_q6">&#9733;</label>
                                <input type="radio" required id="star3_q6" name="q6" value="3">
                                <label for="star3_q6">&#9733;</label>
                                <input type="radio" required id="star4_q6" name="q6" value="4">
                                <label for="star4_q6">&#9733;</label>
                                <input type="radio" required id="star5_q6" name="q6" value="5">
                                <label for="star5_q6">&#9733;</label>
                                </div>
                                <div class="rating-text">
                                    <span id="ratingLabel_q6">Please select a rating</span>
                            </div>
                        </div>

                        <!-- Question 7  -->
                        <div class="step">
                            <h2>7. Time taken in settlement of medicine claims.<pow class="text-danger">*</pow>
                            </h2>
                            <div class="form-group">
                                <label for="q7">Select Time:</label>
                                <select class="form-control" name="q7" id="q7">
                                    <option value="15_30days">15 - 30 Days</option>
                                    <option value="30_45days">30 - 45 Days</option>
                                    <option value="45_60days">45 - 60 Days</option>
                                    <option value="60_90days">60 - 90 Days</option>
                                    <option value="above_90days">Above 90 Days</option>
                                </select>
                            </div>
                        </div>
<!-- Question 8 -->
<div class="step">
    <h2>8. Time taken to receive lab investigation reports of investigations carried out in
        the
        Polyclinic.<pow class="text-danger">*</pow>
        </h2>
    <div class="form-group">
        <label for="q8">Select Time:</label>
        <select class="form-control" name="q8" id="q8">
            <option value="upto_12hrs">Upto 12 hrs</option>
            <option value="12_24hrs">12 - 24 hrs</option>
            <option value="24_36hrs">24 - 36 hrs</option>
            <option value="above_36hrs">Above 36 hrs</option>
        </select>
                            </div>
                        </div>
                        <!-- Question 9 -->
                        <div class="step">
                            <h2>9. Conduct/ Behaviour of doctors.<pow class="text-danger">*</pow>
                            </h2>
                            <label for="rating_q9">Rate your experience:</label>
                            <div class="rating">
                                <input type="radio" required id="star1_q9" name="q9" value="1">
                                <label for="star1_q9">&#9733;</label>
                                <input type="radio" required id="star2_q9" name="q9" value="2">
                                <label for="star2_q9">&#9733;</label>
                                <input type="radio" required id="star3_q9" name="q9" value="3">
                                <label for="star3_q9">&#9733;</label>
                                <input type="radio" required id="star4_q9" name="q9" value="4">
                                <label for="star4_q9">&#9733;</label>
                                <input type="radio" required id="star5_q9" name="q9" value="5">
                                <label for="star5_q9">&#9733;</label>
                            </div>
                            <div class="rating-text">
                                <span id="ratingLabel_q9">Please select a rating</span>
                            </div>
                            <div class="form-group">
                                <label for="suggestions_q9">Suggestions/ Complaint, if any (max 200
                                    words):</label>
                                <textarea class="form-control" name="suggestions_q9" id="suggestions_q9" rows="4"
                                    maxlength="550"></textarea>
                            </div>
                        </div>
                        <!-- Question 10 -->
                        <div class="step">
                            <h2>10. Conduct/ Behaviour of ECHS Staff.<pow class="text-danger">*</pow>
                            </h2>
                            <label for="rating_q10">Rate your experience:</label>
                            <div class="rating">
                                <input type="radio" required id="star1_q10" name="q10" value="1">
                                <label for="star1_q10">&#9733;</label>
                                <input type="radio" required id="star2_q10" name="q10" value="2">
                                <label for="star2_q10">&#9733;</label>
                                <input type="radio" required id="star3_q10" name="q10" value="3">
                                <label for="star3_q10">&#9733;</label>
                                <input type="radio" required id="star4_q10" name="q10" value="4">
                                <label for="star4_q10">&#9733;</label>
                                <input type="radio" required id="star5_q10" name="q10" value="5">
                                <label for="star5_q10">&#9733;</label>
                                </div>
                                <div class="rating-text">
                                    <span id="ratingLabel_q10">Please select a rating</span>
                                </div>
                                <div class="form-group">
                                    <label for="suggestions_q10">Suggestions/ Complaint, if any (max 200
                                        words):</label>
                                    <textarea class="form-control" name="suggestions_q10" id="suggestions_q10" rows="4"
                                        maxlength="550"></textarea>
                            </div>
                        </div>

                        <!-- Question 11 -->
                        <div class="step">
                            <h2>11. Conduct/ Behaviour of OIC ECHS Polyclinic.<pow class="text-danger">*</pow>
                            </h2>
                            <label for="rating_q11">Rate your experience:</label>
                            <div class="rating">
                                <input type="radio" required id="star1_q11" name="q11" value="1">
                                <label for="star1_q11">&#9733;</label>
                                <input type="radio" required id="star2_q11" name="q11" value="2">
                                <label for="star2_q11">&#9733;</label>
                                <input type="radio" required id="star3_q11" name="q11" value="3">
                                <label for="star3_q11">&#9733;</label>
                                <input type="radio" required id="star4_q11" name="q11" value="4">
                                <label for="star4_q11">&#9733;</label>
                                <input type="radio" required id="star5_q11" name="q11" value="5">
                                <label for="star5_q11">&#9733;</label>
                            </div>
                            <div class="rating-text">
                                <span id="ratingLabel_q11">Please select a rating</span>
                            </div>
                            <div class="form-group">
                                <label for="suggestions_q11">Suggestions/ Complaint, if any (max 200
                                    words):</label>
                                <textarea class="form-control" name="suggestions_q11" id="suggestions_q11" rows="4"
                                    maxlength="550"></textarea>
                            </div>
                        </div>

                        <!-- Question 12-->
                        <div class="step">
                            <h2>12.Suggestions/ Complaint for ECHS Polyclinic. <pow class="text-danger">*</pow>
                            </h2>
                            <textarea id="q12" name="q12" placeholder="Max 200 words" rows="8" class="form-control"
                                maxlength="550"></textarea>
                        </div>

                        <!-- Question 13 -->
                        <div class="step">
                            <h2>13. Personal Particulars:<pow class="text-danger">*</pow>
                            </h2>

                            <div class="form-group">
                                <label for="echsCardNumber">
                                    <pow class="text-danger">*</pow> ECHS Card Number:
                                </label>
                                <input type="text" required id="echsCardNumber" name="echsCardNumber"
                                    placeholder="Enter ECHS Card Number">
                            </div>

                            <div class="form-group">
                                <label for="nameAsPerCard">Name as per ECHS card :</label>
                                <input type="text" id="nameAsPerCard" name="nameAsPerCard"
                                    placeholder="Enter Name as per ECHS card">
                            </div>
                            <div class="form-group">
                                <label for="dateOfVisit">
                                    <pow class="text-danger">*</pow> Date of visit:
                                </label>
                                <input type="date" required id="dateOfVisit" name="dateOfVisit"
                                    placeholder="Enter Date of Visit (e.g., YYYY-MM-DD)">
                            </div>

                            <div class="form-group">
                                <label for="mobileNumber">Mobile number:</label>
                                <input type="phone" id="mobileNumber" name="mobileNumber"
                                    placeholder="Enter Mobile Number">
                            </div>
                        </div>
                        <!-- Navigation buttons -->
                        <div class="buttons">
                            <button type="button" id="prevBtn" onclick="changeStep(-1)">Previous</button>
                            <button type="button" id="nextBtn" onclick="changeStep(1)">Next</button>
                            <!-- Submit Button will appear only on the last page -->
                            <button type="submit" id="submitBtn" style="display:none;">Submit</button>
                        </div>
                    </form>

                    <br>
                </div>
            </div>
        </div>
    </div>



    <script src="./assert/js/form.js"></script>
</body>
</html>